<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h2>Здесь вы можете отредактировать карточку читателя</h2>
<form th:method="PATCH" th:action="@{/api/v1/users/update/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br><br>
    <label for="surname">Введите фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br><br>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br><br>
    <input type="submit" value="Обновить">
    <br><br>
</form>

<form th:method="DELETE"
      th:action="@{/api/v1/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить"></form>
<br><br>
<div>
    <a th:href="@{/api/v1/users}"><input type="submit" value="Назад"></a>
</div>

</body>
</html>